.image {
  width: 90%;
  margin: 0 auto;
  column-width: 30%;
  column-count: 3;
  background-color: black;
  position: relative;
  padding-top: 30px;
}
.images {
  padding: 0 20px;
  margin-top: 30px;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .image {
    column-width: 100%;
    column-count: 1;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .image {
    column-width: 50%;
    column-count: 2;
  }
}
