.banner {
  background-image: url("../public/assets/img/bgimg.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  width: 100%;
  object-fit: fill;
}
